<div id="contact" class="w-full h-full bg-gray-800 flex flex-col px-3 py-5 space-y-20 md:space-y-10 md:p-16">

  <div class="w-full flex flex-col space-y-1 justify-center items-start">
    <app-sub-heading subHeadingText="Do you want to connect"></app-sub-heading>
    <app-heading bgColor="DEFAULT_GRADIENT" headingText="Contact"></app-heading>
  </div>

  <div class="w-full h-full space-y-4 flex flex-col justify-center items-center">

    <div class="w-full flex text-gray-400 text-xl font-medium">
      I am very open to anyone trying new things in the fields of technology and business.
      Let’s connect!
    </div>

    <div class="bg-gray-900 text-gray-400 rounded-lg flex justify-between items-center">
        <div class="text-left w-full p-4">
            hadidhardiansyah@gmail.com
        </div>

        <div class="bg-indigo-600 w-full h-full rounded-lg p-5">
          <a href="mailto:hadidhardiansyah@gmail.com">
            <app-icon iconType="SEND" iconSize="MD"></app-icon>
          </a>
        </div>
    </div>

    <div class="w-full flex space-x-4 justify-center items-center p-4">
      <a href="https://github.com/hadidhardiansyah" target="_blank" >
        <app-icon class="text-white" iconType="GITHUB" iconSize="XL"></app-icon>
      </a>

      <a href="https://www.linkedin.com/in/hadid-hardiansyah-14a765219/" target="_blank" >
        <app-icon class="text-white" iconType="LINKEDIN" iconSize="XL"></app-icon>
      </a>

      <a href="https://www.hackerrank.com/profile/hadidhardiansyah" target="_blank" >
        <app-icon class="text-white" iconType="HACKERRANK" iconSize="XL"></app-icon>
      </a>

    </div>
  </div>

  <div class="py-5 md:hidden">

  </div>
</div>
